* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #432D73;
    color: white;
}

section {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 270px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    display: inline-block;
    font-weight: 500;
    margin-left: 30px;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    background-color: #d95585;
    width: 0;
    height: 3px;
    left: 0px;
    bottom: -6px;
    position: absolute;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
.main-quote {
    box-shadow: 0px 1px 20px 2px rgba(140,56,116,1);
    width: 100%;
    height: 300px;
    background: #d95585;
    display: flex;
    flex-direction: row;
}

.main-quote h3 {
    font-size: 55px;
    max-width: 390px;
    margin-left: 25%;
    margin-top: 40px;
}

.main-quote span {
    font-size: 58px;
    color:#432D73;
}

.main-quote img {
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 700px;
    height: 330px;
}

.separator {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 10px;
}

.separator p {
    padding-top: 12px;
    font-weight: lighter;
}

.container {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/*.games h2 {
    font-size: 40px;
    text-align: center;
    color: #d95585;
}*/

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}

.game {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.game img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(#432D73, #68f2f2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.game:hover {
    transform: scale(1.1);
} 

.game:hover .layer {
    height: 100%;
} 

.schedule {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 10px;
}

.button {
    width: 200px;
    height: 70px;
    background-color: #63549C;
    color: white;
    font-size: 25px;
    border-style: none;
    border-radius: 33px;
    margin-top: 25px;
    transition: all 0.5s;
    cursor: pointer;
}
   
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
   
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
   
.button:hover span {
    padding-right: 25px;
}
   
.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*ABOUT PAGE*/

.about {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: white;
    color: #432D73;
    border: 1px solid #432D73;
    border-radius: 7px;
}

.gamify {
    margin-bottom: 20px;
}

.work {
    margin-top: 50px;
    margin-bottom: 40px;
}

.about h2 {
    box-shadow: 0px 1px 20px 2px rgba(140,56,116,1);
    border-top-right-radius: 7px;
    border-top-left-radius: 8px;
    background-color: #d95585;
    border: 1px solid #432D73;
    padding: 15px;
}

.about p {
    padding: 15px;
    margin-left: 5px;
    font-family: 'Courier New';
}

.core-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.core-list div {
    background-color: #63549C;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background  0.5s, transform 0.5s;
}

.core-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.core-list div h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.core-list div:hover {
    background-color: #d95585;
    transform: translateY(-10px);
}

.about span {
    font-size: 18px;
    font-weight: bold;
    color:#432D73;
    font-family: 'Poppins', sans-serif;
}

/*CALENDER*/
.wrapper{
    width: 450px;
    background-color: white;
    color: #432D73;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.wrapper .header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

.header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.header .icons i {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.header .icons i:hover {
    background-color: #f2f2f2;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .weeks li {
    font-weight: 500;

}

.calendar .days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;  
}

.days li.inactive {
    color: #aaa;
} 

.days li.active {
    color: #fff;
} 

.calendar .days {
    margin-bottom: 10px;
}
.calendar .days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover::before {
    background-color: #f2f2f2;
}

.days li.active::before {
    background-color: #d95585;
}

/*FOOTER*/

footer {
    margin-top: 30px;
    background-color: #63549C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    margin-top: 40px;
    font-size: 17px;
}

.footer i {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding-right: 5px;
}